<%- include('partials/header') ; %>
<h1><%= title %></h1>
<ul>
  <% itemsList.forEach(function(item) { %>
  <li>
    <%- item.name %> | <%- item.price %> $
    <a href="/items/<%- item.id %>"> Voir détails </a>
  </li>
  <% }); %>
</ul>
<%- include('partials/footer') ; %>
